@{
  string[] tableHeaders = {"ID", "Name", "Lastname", "Email", "Options"};
}

<table class="table table-striped">
  <thead>
    <tr>
      @foreach (var header in tableHeaders)
      {
        <th scope="col">@header</th>
      }
    </tr>
  </thead>

  @foreach (var user in Model)
  {
    <tr>
      <td>@user.Id</td>
      <td>@user.Name</td>
      <td>@user.Lastname</td>
      <td>@user.Email</td>
      <td>
        <a asp-action="Detail" asp-route-id="@user.Id" class="btn btn-secondary">Details</a>
        <a asp-action="" asp-route-id="@user.Id" class="btn btn-primary">Update</a>
        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
      </td>
    </tr>
  }
</table>