<p> Logo: <img src="@Model.Logo" alt="Logo" class="w-25"></p> 
<p> ID: @Model.Id </p> 
<p> Name: @Model.Name </p> 
<p> Nit: @Model.Nit </p> 
<p> Address: @Model.Address </p> 
<p> Description: @Model.Description </p> 
<p> Phone: @Model.Phone </p> 
<p> Legal representative: @Model.LegalRepresentative </p> 
<p> SectorID: @Model.SectorId </p> 