@{
  string[] tableHeaders = {"Logo", "ID" , "Name", "Phone", "NIT", "Representative"};
}

<table class="table table-striped">
  <thead>
    <tr>
      @foreach (var header in tableHeaders)
      {
        <th scope="col">@header</th>
      }
    </tr>
  </thead>

  <tbody>
    @foreach (var Company in Model)
    {
      <tr>
        <td><img src="@Company.Logo" alt="logo" srcset="" class="img-fluit w-25"></td>
        <td>@Company.Id</td>
        <td>@Company.Name</td>
        <td>@Company.Phone</td>
        <td>@Company.Nit</td>
        <td>@Company.LegalRepresentative</td>
        <td class="d-flex">
          <a asp-action="Detail" asp-route-id="@Company.Id" class="btn btn-secondary">Details</a>
          <a asp-action="" asp-route-id="@Company.Id" class="btn btn-primary">Update</a>
          <a asp-action="Delete" asp-route-id="@Company.Id" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>