@* You cannot obviate model reference *@
@model Company

<h1>Update company</h1>
<form asp-action="Update" asp-route-id="@Model.Id" method="post">

  <div class="mb-3">
    <div class="form-group">
        <label for="">Name:</label>
        <input asp-for="Name" class="form-control" value="@Model.Id">
    </div>

    <div class="form-group">
        <label for="">Nit:</label>
        <input asp-for="Nit" class="form-control" value="@Model.Nit">
    </div>

    <div class="form-group">
        <label for="">Address:</label>
        <input asp-for="Address" class="form-control" value="@Model.Address">
    </div>

    <div class="form-group">
        <label for="">Description:</label>
        <input asp-for="Description" class="form-control" value="@Model.Description">
    </div>

    <div class="form-group">
        <label for="">Logo:</label>
        <input asp-for="Logo" class="form-control" value="@Model.Logo">
    </div>

    <div class="form-group">
        <label for="">Phone:</label>
        <input asp-for="Phone" class="form-control" value="@Model.Phone">
    </div>

    <div class="form-group">
        <label for="">Legal Representative:</label>
        <input asp-for="LegalRepresentative" class="form-control" value="@Model.LegalRepresentative">
    </div>
  
    <div class="form-group">
        <label for="">Sector</label>
        <input asp-for="SectorId" class="form-control" value="@Model.SectorId">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>