@{
  string[] tableHeaders = {"ID", "Name", "Description", "Author", "Options"};
}
<h2 class="mb-3 text-center">Index Sector</h2>
<div class="mb-4">
  <a asp-action="Create" class="btn btn-primary btn-lg">Create sector</a>
</div>

<form asp-action="Search">
  <div class="form-group d-flex">
    <input type="text" name="searchString" class="form-control w-50">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      @foreach (var header in tableHeaders)
      {
        <th scope="col">@header</th>
      }
    </tr>
  </thead>

  <tbody>
    @foreach (var Sector in Model)
    {
      <tr>
        <td>@Sector.Id</td>
        <td>@Sector.Name</td>
        <td>@Sector.Description</td>
        <td>@Sector.Author</td>
        <td class="d-flex">
          <a asp-action="Detail" asp-route-id="@Sector.Id" class="btn btn-secondary">Details</a>
          <a asp-action="Update" asp-route-id="@Sector.Id" class="btn btn-primary">Update</a>
          <a asp-action="Delete" asp-route-id="@Sector.Id" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>