@{
  string[] tableHeaders = {"Photo", "Names", "Lastnames", "Email", "About", "Actions"};
  ViewData["Title"] = "Employ list";
}

<h1 class="text-center">List of Employees</h1>

<div class="row">
    <div class="col">
        <a asp-action="Create" class="btn btn-success">Add employ</a>
    </div>
</div>

<form asp-action="Index" method="get" class="d-flex float-end">
  <input type="text" name="search" value="" class="form-control" placeholder="Search">
  <button class="btn btn-success">Search</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      @foreach (var header in tableHeaders)
      {
        <th scope="col">@header</th>
      }
    </tr>
  </thead>

  @foreach (var job in Model)
  {
    <tr>
      <td><img src="~/images/@job.ProfilePicture" alt="@job.ProfilePicture" style="width: 150px;"></td>
      <td>@job.Names</td>
      <td>@job.LastNames</td>
      <td>@job.Email</td>
      <td>@job.About</td>
      <td>
        <a asp-action="Detail" asp-route-id="@job.Id" class="btn btn-secondary">Details</a>
        <a asp-action="Update" asp-route-id="@job.Id" class="btn btn-primary">Update</a>
        <a asp-action="Delete" asp-route-id="@job.Id" class="btn btn-danger">Delete</a>
      </td>
    </tr>
  }
</table>